$header-bg:#14081fed;
$purple-1:#1c0c2b;
$purple-2:#14081f;
$pink-1: #fd226a;
$white: #fff;
$black: #000;
$black-2:#232323;
$grey-1:#e7ebee;
$grey-2:#616161;
$grey-3:#e0e0e0;
$grey-4: #505767;
$grey-5: #d7d7d7;
$grey-6: #666666;
$grey-7: #f8f8f8;
$grey-8: #f0f0f0;
$grey-9: #dfdfdf;
$grey-10: #e5eaef; 
$body-font:#828c96;
$body-bg:#f5f5f5;
$transition: all 0.5s linear;
$transition-2:all 0.25s linear;
$font-primary: "Poppins", sans-serif;
$font-secondary: "Belleza", Arial, Helvetica, sans-serif;
$slider-overlay: linear-gradient(#31051bc4, #14081fee);